.firstbox {
    display: flex;
    flex-direction: column;
    width:300px;
    margin-left:20px;
   
   }

   .first{
      width: 305px;
   }
   
   .Fullset{
       display: flex;
       flex-direction: row;
       overflow-x: auto;
   }
   .Fullset::-webkit-scrollbar{
       width: 0;
   }
   .Main{
       display: flex;
       flex-direction: column;
   }
   
   h1{
       margin-left: 60px;
       color: #00175f;
   }
   
   .last{
       margin-left: 30%;
   }