
.logsign{
    display: flex;
    flex-direction: row;
 
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 45%;
    margin-top: 10%;
}

.login{
    font-size:14px;
    background-color: blue;
    color: white;
    padding: 14px;
    border-radius: 3px;
    
    margin-right:20px;
    font-family:  sans-serif;
}

.signin{
    font-size:14px;
    background-color: rgb(255, 255, 255);
    color: rgb(17, 0, 255);
    padding: 10px;
    border-radius: 3px;
    border:1px solid black;
    margin-right: 30px;
    font-family:  sans-serif;
}

p{
    margin-bottom: 20px;
}